# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
alembic=1.3.1=pypi_0
babel=2.7.0=py_0
blinker=1.4=py_1
ca-certificates=2019.11.28=hecc5488_0
certifi=2019.11.28=py36_0
cffi=1.13.2=py36hb32ad35_0
chardet=3.0.4=py36_1003
click=7.0=py36_0
cryptography=2.8=py36hb32ad35_1
dominate=2.4.0=pypi_0
elasticsearch=7.1.0=pypi_0
flask=1.1.1=py_0
flask-babel=0.12.2=py_0
flask-bootstrap=3.3.7.1=pypi_0
flask-cors=3.0.8=py_0
flask-login=0.4.1=py36_0
flask-mail=0.9.1=py_2
flask-migrate=2.5.2=pypi_0
flask-moment=0.7.0=py_0
flask-socketio=4.2.1=py_0
flask-sqlalchemy=2.4.1=py_0
flask-wtf=0.14.2=py36_1
guess-language-spirit=0.5.3=pypi_0
idna=2.8=py36_1000
itsdangerous=1.1.0=py36_0
jinja2=2.10.3=py_0
langdetect=1.0.7=py_0
mako=1.1.0=pypi_0
markupsafe=1.1.1=py36he774522_0
nltk=3.4.4=py_0
openssl=1.1.1d=hfa6e2cd_0
pip=19.3.1=py36_0
pycparser=2.19=py36_1
pyjwt=1.7.1=py_0
pyopenssl=19.1.0=py36_0
pysocks=1.7.1=py36_0
python=3.6.9=h5500b2f_0
python-dateutil=2.8.1=pypi_0
python-dotenv=0.10.3=py_0
python-editor=1.0.4=pypi_0
python-engineio=3.9.3=py_0
python-socketio=4.3.1=py_0
pytz=2019.3=py_0
requests=2.22.0=py36_1
setuptools=42.0.1=py36_0
six=1.13.0=py36_0
sqlalchemy=1.3.11=py36he774522_0
sqlite=3.30.1=he774522_0
urllib3=1.25.7=py36_0
vc=14.1=h0510ff6_4
visitor=0.1.3=pypi_0
vs2015_runtime=14.16.27012=hf0eaf9b_0
werkzeug=0.16.0=py_0
wheel=0.33.6=py36_0
win_inet_pton=1.1.0=py36_0
wincertstore=0.2=py36h7fe50ca_0
wtforms=2.2.1=py36_0

# requirements for Heroku
psycopg2==2.7.3.1
gunicorn==19.7.1